[Unit]
Description=Battery low notification timer
BindsTo=x-session.target
After=x-session.target

[Timer]
OnStartupSec=0
OnUnitActiveSec=10

[Install]
WantedBy=x-session.target
