[Unit]
Description=Battery low notification
BindsTo=x-session.target
After=x-session.target

[Service]
Type=oneshot
ExecStart=%h/environment/bin/battery-notify
