[Unit]
Description=Battery low notification timer
BindsTo=graphical-session.target
After=graphical-session.target

[Timer]
OnStartupSec=0
OnUnitActiveSec=10

[Install]
WantedBy=graphical-session.target
