[Unit]
Description=Check Claude API status timer
BindsTo=x-session.target
After=x-session.target

[Timer]
OnStartupSec=300
OnUnitActiveSec=300

[Install]
WantedBy=x-session.target
