[Unit]
Description=Dunst notification daemon
BindsTo=x-session.target
After=x-session.target

[Service]
ExecStart=/usr/local/bin/dunst
Restart=on-failure
RestartSec=5

[Install]
WantedBy=x-session.target
