[Unit]
Description=Monitor configuration
BindsTo=x-session.target
After=x-session.target

[Service]
Type=oneshot
ExecStart=%h/environment/bin/monitors_config
