[Unit]
Description=Picom compositor
BindsTo=x-session.target
After=x-session.target

[Service]
ExecStart=/usr/bin/picom
Restart=on-failure
RestartSec=5

[Install]
WantedBy=x-session.target
