[Unit]
Description=Picom compositor
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/picom
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
