[Unit]
Description=Solaar Logitech device manager
BindsTo=x-session.target
After=x-session.target

[Service]
ExecStart=/usr/bin/solaar -w hide
Restart=on-failure
RestartSec=5

[Install]
WantedBy=x-session.target
