[Unit]
Description=Wallpaper configuration
BindsTo=x-session.target
After=x-session.target

[Service]
Type=oneshot
ExecStart=%h/environment/bin/wallpaper-config
