[Unit]
Description=Wallpaper configuration timer
BindsTo=x-session.target
After=x-session.target

[Timer]
OnStartupSec=0
OnUnitActiveSec=600

[Install]
WantedBy=x-session.target
