#!/usr/bin/env sh

# Daemons
nohup picom >/dev/null 2>&1 &
nohup nm-applet >/dev/null 2>&1 &
nohup blueman-applet >/dev/null 2>&1 &
nohup solaar -w hide >/dev/null 2>&1 &
nohup monitors_config -d >/dev/null 2>&1 &
nohup keyboard_config -d >/dev/null 2>&1 &
