* {
    /* Backgrounds */
    black:        #1f1f28;
    dark-gray:    #2a2a37;
    gray:         #363646;

    /* Foregrounds */
    white:        #dcd7ba;
    light-gray:   #727169;
    orange:       #e6c384;

    /* Accents */
    green:        #94c9b2;
    blue:         #7e9cd8;
    red:          #e46876;
    border-gray:  #54546d;
}

