* {
    /* Backgrounds */
    black:        #141415;
    dark-gray:    #151820;
    gray:         #1c1f26;

    /* Foregrounds */
    white:        #c9c7cd;
    light-gray:   #6e6a86;
    orange:       #e6c384;

    /* Accents */
    green:        #94c9b2;
    blue:         #8aadf4;
    red:          #e06c75;
    border-gray:  #2a2e36;
}
